
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poiret+One&family=Mulish&family=Red+Hat+Display&display=swap');
@import url(salong.css);
@import url(detaljsida.css); 
@import url(footer.css);
@import url(biljetter.css);

.headTicket{
    font-size:18px;
    padding:10px 10px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: black;
    background-color: white;
}

#email{
    color:black;
}

#title{
    color: white;
}

.bookning{
    color: white;
    font-family:'Oswald', sans-serif; 
    font-size:30px;
    text-align:center;
    display: flex;
    padding:10px 10px;
    width: 100%;
   

}
.ticketInformation{
    display:flexbox;
    width: 100%;
   
 
}

.rowAndSeat{
font-size: 20px;
text-align:center;
width: 500px;
margin: auto;
text-size-adjust:inherit;
}



.bodyOfTicket{
    display: flex;
    text-align: justify;
}
    #seat{
        color:  rgb(44, 44, 44);
    }

