ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}


p {
  color:white;
}

.ticketDiv {
  display:flex;
  flex-direction: row;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
  box-shadow: rgba(167, 167, 167, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-style: solid;
  border-color: rgb(29, 29, 29);
  border-width: 3px;
  margin-top: 4vh;
  margin-bottom: 2vh;
  padding: 0%;

}

.ticketButton {
  color: white;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 80%;
  background: rgb(148,27,27);
  background: linear-gradient(0deg, rgba(148,27,27,1) 0%, rgba(253,45,45,1) 100%);
}

.ticketButton:hover {
  color: white;
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 80%;
  background: rgb(148,27,27);
  background: linear-gradient(0deg, rgb(192, 35, 35) 0%, rgba(253,45,45,1) 100%);
  box-shadow: rgba(167, 167, 167, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ticketContainer {
  display:flex;
  flex-direction: row;
  align-items:flex-end;  
  justify-content: flex-end;
  width: 100%;
}

.sammanfattning {
  display: block;
}

.sammanfattning2 {

}

.filmval {
  font-family: 'Red Hat Display', sans-serif;
  color:white;
  font-size: 22px; 
}

.valdtid {
  display: blocK;
  padding: 8px 14px 8px 14px;
  background: linear-gradient(0deg, rgb(192, 35, 35) 0%, rgba(253,45,45,1) 100%);
  border-color: rgb(255, 63, 63) ;
  margin-top: 4vh;
  max-width: 63vh;
  font-family: 'Oswald', sans-serif;
  color:white;
  font-size: 32px;
}


.dropdownmenu {
  /* Tar bort pilen */
  -webkit-appearance: none; 
  -moz-appearance: none; 
  -ms-appearance: none; 
  appearance: none; 

  outline: 0; 
  padding: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background: rgba(253,45,45,1);
  background: linear-gradient(0deg, rgb(165, 31, 31) 1%, rgb(223, 40, 40) 70%);
  border-color: rgb(255, 63, 63) ;
  color:white;
  cursor: pointer;
  font-size: 22px;
}

option {
background-color:tomato;
font-size: 22px;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: rgb(148,27,27);
  background: linear-gradient(0deg, rgba(148,27,27,1) 0%, rgba(253,45,45,1) 100%);
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

* select {
-webkit-appearance: none; 
  -moz-appearance: none; 
  -ms-appearance: none; 
  appearance: none; 

  outline: 0; 
  padding: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  background: rgba(253,45,45,1);
  background: linear-gradient(0deg, rgb(165, 31, 31) 1%, rgb(223, 40, 40) 70%);
  border-color: rgb(255, 63, 63) ;
  color:white;
  cursor: pointer;
  font-size: 22px;

}

.typeofticket {
  display: flex;
  gap: 25px;
}


.btnContainer {
  display:flex;
  margin-top: auto;

   
}

.ticketBtn {
color: white;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 80%;
  background: rgb(148,27,27);
  background: linear-gradient(0deg, rgba(148,27,27,1) 0%, rgba(253,45,45,1) 100%);
}

.ticketBtn:hover {
  color: white;
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 80%;
  background: rgb(148,27,27);
  background: linear-gradient(0deg, rgb(192, 35, 35) 0%, rgba(253,45,45,1) 100%);
  box-shadow: rgba(167, 167, 167, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}