
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poiret+One&family=Mulish&family=Red+Hat+Display&display=swap');
@import url(salong.css);
@import url(detaljsida.css); 
@import url(footer.css);
@import url(biljetter.css);
@import url(menu.css);

body {
  background-color: rgb(44, 44, 44);
}

.site {
    margin-left: 20vh;
    margin-right: 20vh;
}

h1{

}


.movie_trailer_window{
 box-sizing:border-box;
 height: 800px;
}

iframe {
  margin-right:100px;
  width: 100%;
  height: 580px;
}

.movie_reel{
  text-align: center;
  padding-bottom: 20px;
}


.movie {
  display:flex;
  flex-direction: row;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-style: solid;
  border-color: rgb(29, 29, 29);
  border-width: 2px;
  margin-top: 2px;
  margin-bottom: 1%;
  padding: 1%;
}

.movie:hover {

  display:flex;
  flex-direction: row;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%);
  box-shadow: rgba(167, 167, 167, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-style: solid;
  border-color: rgb(29, 29, 29);
  border-width: 3px;
  margin-top: 1px;
  margin-bottom: 1%;
  padding: 1%;

}

.poster {
  display:flex;
  justify-content: flex-start;
  height: 400px;
  margin-left: 1%;
  margin-right: 4%;
}

.ButtonContainer{
  display:flex;
  margin-top: 95px;
  flex-direction: row;
  align-items:flex-end;  
  justify-content: flex-end;
  width: 100%;
}

.movieButton{
  font-family: 'Red Hat Display', sans-serif;
  background: rgba(253,45,45,1);
  background: linear-gradient(0deg, rgb(200, 36, 36) 1%, rgb(223, 40, 40) 70%); 
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-style: none;
}

.movieButton:hover {
  font-family: 'Red Hat Display', sans-serif;
  background: rgba(253,45,45,1);
  background: linear-gradient(0deg, rgb(165, 31, 31) 1%, rgb(223, 40, 40) 70%); 
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border-style: none;
}

.movieButton:active {
  font-family: 'Red Hat Display', sans-serif;
  background: rgba(253,45,45,1);
  background: linear-gradient(0deg, rgb(165, 31, 31) 1%, rgb(223, 40, 40) 70%); 
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  border: 3px solid rgb(59, 59, 59);
}


.movieButton:last-of-type{
  margin-right: 25px;
}

.Title {
  font-family: 'Mulish', sans-serif;
  color: black;
}

.Released {
  margin-top: -10px;
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
  color:black;
}

.Genre {
  font-family: 'Red Hat Display', sans-serif;
  color: black;
}

.Synopsis {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 21px;
  color: black;
  justify-content: left;
}

.MovieText{
  display:flex;
  flex-direction: column;
  width: 300%;
}

.Genre {
  margin-top: 5vh;
 }


.moviePoster{
  display:flex;
  flex-direction: row;
  height: 30vw;

}
 
/*.colPoster{
 flex: 20%;
  padding: 5px;
} */

.biljettPoster{
  flex-basis: 100%;
  border-radius: 4px;
  min-height: 10vw;
  max-height: 10vw;
  transition: transform .1s;

}


.biljettPoster > img{
  flex-basis: 100%;
  border-radius: 4px;
  width:100%;
  height: 30vw;
  transition: transform .1s;
  
}

.biljettPoster:hover{ 
  transform: scale(1.05); 
  opacity: 1;
  
}

.biljettPoster:active{ 
  transform: scale(1.1); 
  opacity: 1;
  
}

/*.biljettPoster:hover{

  transform: scale(1.2); 
  opacity: 0.3;


}*/



.middle{
  opacity: 0;
  visibility: hidden;
  background-color: rgb(148,27,27);
  color: white;
  font-size: 16px;
  padding: 16px 32px 16px 32px;
  
  
}


@media only screen and (max-width: 600px) {
  body {
    margin-left: 0vh;
    margin-right: 0vh;
    padding: 0vh;
}
.site {
    margin: 0vh;
    padding: 0vh;
}

}

@media only screen and (min-width: 601px) {
  body {
    margin-left: 0vh;
    margin-right: 0vh;
    padding: 0vh;
}
.site {
    margin: 0vh;
    padding: 0vh;
}


@media only screen and (min-width: 1000px) {
  body {
      margin-left: 8vh;
      margin-right: 8vh;
      padding: 0vh;
  }
  .site {
      margin: 0vh;
      padding: 0vh;
  }
}

@media only screen and (min-width: 1200px) {
    body {
      margin-left: 14vh;
      margin-right: 14vh;
      padding: 0vh;
  }
  .site {
      margin: 0vh;
      padding: 0vh;
  }
}

}