.site {
    margin-left: 18%;
    margin-right: 18%;
    border-color: rgb(255, 255, 255);
    border-radius: 3px;
    border-style: dotted;
    padding: 5px;
    background-color: grey;
}

h1{
  background-color: crimson;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0px;
}

.menyrad{
  padding-bottom: 20px;
  margin-top: -22px;
}

span{
  display: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}

.user_login {
    float: right;
    padding-right: 5%;
}

.movie_trailer_window{
  text-align: center;
  padding-bottom: 20px;
}

.movie_reel{
  text-align: center;
  padding-bottom: 20px;
}

.rightside{
  float: right;
  width: 50%;
  border: 1px solid black;
}

.leftside{
  float: left;
  width: 49%;
  border: 1px solid black;
}

.salong {

}

.row {
  text-align:center;
  margin:auto;
}

.rowhead {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align:center;
  margin-bottom:1%;
  margin-top:3%;
}

.seat {
  display:inline-block;
  margin-left: 2%;
  margin-right: 3%;
  padding: 1%;
  background-color: crimson;
  border-radius: 2px;
}

.fas{
  color: crimson;
   border: 1px solid black;
   padding: 1%;
   cursor: pointer;
   margin-left: 1%;
}
